.rootEventContainer{
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    color: #464646;
}

.rootEventContainer:hover{
    cursor: pointer;
    color: rgb(255, 41, 85);
}

.title{
    max-width: 176px;
    text-align: center;
    font-size: 12pt;
    margin-top: 6px;
}

.type{
    font-size: 12pt;
    text-align: center;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tags{
    max-width: 176px;
    margin-top: 5px;
    font-size: 8pt;
    color: #464646;
}

img{
    transform: translateY(+5px);
}